<div class="landing-about">
  <h1>Dan Kondratyuk's Blog</h1>
  <!-- •  -->

  <p class="about-links">
    <a href="mailto:dan@rekursiv.ai">Email</a>
    <a href="https://scholar.google.com/citations?user=hl1fJgIAAAAJ&amp;hl=en">Google Scholar</a>
    <a href="https://www.linkedin.com/in/dankondratyuk">LinkedIn</a>
    <a href="https://github.com/hyperparticle">GitHub</a>
  </p>

  <h2><a href="/about">About Me</a></h2>

  I'm a machine learning researcher and co-founder of <a href="https://rekursiv.ai/">rekursiv.ai</a>, working on multimodal foundation models for video, audio, image, and text generation. My work spans <a href="https://lumalabs.ai/dream-machine">Luma AI's Dream Machine</a>, <a href="https://arxiv.org/abs/2312.14125">Google's VideoPoet</a>, <a href="https://arxiv.org/abs/2103.11511">efficient video models</a>, and <a href="https://github.com/Hyperparticle/udify">multilingual NLP</a>.

  <h2><a href="/projects">Projects</a></h2>

  {% capture projects_include %}{% include projects.md %}{% endcapture %}
  {{ projects_include | markdownify }}
</div>
