<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="theme-base-custom">

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <div class="masthead-actions">
            <button class="theme-toggle" type="button" aria-label="Toggle dark mode" aria-pressed="false" data-theme-toggle></button>
            <div class="logo"><img src="/public/ribbons-144.png" alt="logo"></div>
          </div>
          <h3 class="masthead-title">
            <a href="/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <main class="container content">
        {{ content }}
      </main>
    </div>

    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

<!-- https://github.com/sourcey/recliner -->
    <!-- <script src="/public/js/recliner.min.js"></script> -->
    <script src="/public/js/theme.js"></script>
  </body>
</html>
